
/* Basic Rules */
html,
*:before
*:after{
    font-size: 62.5%;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
ul,
ol,
li,
a,
div,
p {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding-top: 5rem;
    font-size: 4rem;
}
h2 {
    font-size: 1.2rem;
}

input {
    box-shadow: 1px 1px 5px;
    padding: .5rem;
}


/* layout */

.main-container {
    display: flex;
    margin-inline: auto;
    width: 90%;
    max-width: 800px;
    justify-content: space-around;
    padding-top: 2rem;
    gap: 2rem;
}

@media (max-width: 500px){
    .main-container{
        display: flex;
        flex-direction: column;
        height: 70vh;
    }
    h1{
        font-size: 3rem;
    }
}

.pix-container {
    display: flex;
    flex: 2;
    flex-direction: column;
    height: 400px;
    border: 2px solid black;
}

.container {
    display: flex;
    flex: 1;
    width: 100%;
}

.container-pix {
    flex: 1;
    border: 1px solid black;
}

.controller {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* Buttons */

/* CSS */
/* CSS */
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.button:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


/* CSS */
.resetButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resetButton:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(241, 102, 102, 0.962);
  outline: 0;
}